body {
    background-color: #758283;
    font: #FF6666;
}

#circle {
    border: 5px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#title {
    text-align: center;
    font-size: large;
}

#timer {
    text-align: center;
    font-size: large;
}